In [1]:
!pip install bs4
!pip install requests

In [59]:
from bs4 import BeautifulSoup as bs
import requests

In [2]:
HEADERS = ({'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.157 Safari/537.36',
                           'Accept-Language': 'en-US, en;q=0.5'})

In [3]:
cust_name=[]
review_title=[]
review_date=[]
ratings=[]
review_content=[]

In [4]:
pages=list(range(0,446))
for i in pages:
    link='https://www.amazon.in/Apple-iPhone-Black-32GB-Storage/product-reviews/B01LZKSVRB/ref=cm_cr_getr_d_paging_btm_next_=?ie=UTF8&reviewerType=all_reviews&pageNumber='+str(i)
    request=requests.get(link,headers=HEADERS)
    soup=bs(request.content,'lxml')
    
    #extracting customer name
    names=soup.find_all("span",attrs={"class":"a-profile-name"})
    for j in range(0,len(names)):
        cust_name.append(names[j].get_text())
    
    #extracting review_title
    title=soup.find_all('a',attrs={"class":"review-title"})
    review_title=[]
    for j in range(0,len(title)):
        review_title.append(title[j].get_text())
        
    #extracting review_date
    date=soup.find_all("span",class_="a-size-base a-color-secondary review-date")
    for j in range(0,len(date)):
        review_date.append(date[j].get_text())
        
    # extracting review ratings
    rating=soup.find_all('i',class_='review-rating')
    for j in range(0,len(rating)):
        ratings.append(rating[j].get_text())
        
    # extracting reviews
    reviews=soup.find_all('span',{'data-hook':'review-body'})
    for j in range(0,len(reviews)):
        review_content.append(reviews[j].get_text())

In [15]:
review_title[:]=[titles.lstrip('\n') for titles in review_title]
review_title

['Wow\n',
 'Pros & Cons\n',
 'In just three months phone developed Hardware problems\n',
 'Not worth it in 2021\n',
 'Not good for the price\n',
 'Poor performance\n',
 'Cheating product\n',
 'Don’t buy\n',
 'Very Good!\n',
 'Too expensive\n']

In [16]:
review_title[:]=[titles.rstrip('\n') for titles in review_title]
review_title

['Wow',
 'Pros & Cons',
 'In just three months phone developed Hardware problems',
 'Not worth it in 2021',
 'Not good for the price',
 'Poor performance',
 'Cheating product',
 'Don’t buy',
 'Very Good!',
 'Too expensive']

In [58]:
review_date[:]=[date.lstrip('Reviewed in India on') for date in review_date]
#review_date

In [23]:
review_content[:]=[review.lstrip('\n') for review in review_content]
#review_content

In [22]:
review_content[:]=[review.rstrip('\n\n') for review in review_content]
#review_content

In [24]:
len(review_content)

4460

In [25]:
import pandas as pd

In [26]:
df=pd.DataFrame()

In [46]:
df['Customer_name']=cust_name
#df['Review_title']=review_title
df['Reviewed_date']=review_date
df['Ratings']=ratings
#df['Reviews']=review_content

In [47]:
df

                    Customer_name     Reviewed_date             Ratings
0                   Bharath Kumar      7 March 2019  5.0 out of 5 stars
1                         jaywant   29 October 2018  1.0 out of 5 stars
2                         jaywant   29 October 2018  1.0 out of 5 stars
3                   Bharath Kumar      7 March 2019  5.0 out of 5 stars
4                       Utpal Das  13 November 2018  5.0 out of 5 stars
...                           ...               ...                 ...
5347                Tushar_Amazon     31 March 2021  3.0 out of 5 stars
5348                  Rijo Thomas      4 April 2021  1.0 out of 5 stars
5349                    Anonymous  20 February 2021  1.0 out of 5 stars
5350  PRINCE INDRAJIT LAW / LAHA.  16 February 2021  5.0 out of 5 stars
5351                       Deepak  22 February 2021  1.0 out of 5 stars

[5352 rows x 3 columns]

In [48]:
df1=pd.DataFrame()

In [ ]:
df1['Reviews']=review_content

In [ ]:
new = pd.concat([df,df1], ignore_index=False, axis=1)

In [49]:
new

,Customer_name,Reviewed_date,Ratings,Reviews
0,Bharath Kumar,7 March 2019,5.0 out of 5 stars,i received defective iphone 7 32GB silver co...
1,jaywant,29 October 2018,1.0 out of 5 stars,Thanks for Amazon service. phone is very nic...
2,jaywant,29 October 2018,1.0 out of 5 stars,"Redmi phones cameras are great, of course iP..."
3,Bharath Kumar,7 March 2019,5.0 out of 5 stars,If you are an apple fan !! This is a true be...
4,Utpal Das,13 November 2018,5.0 out of 5 stars,in 20 days i found my battery health 98% whi...
...,...,...,...,...
5347,Tushar_Amazon,31 March 2021,3.0 out of 5 stars,NaN
5348,Rijo Thomas,4 April 2021,1.0 out of 5 stars,NaN
5349,Anonymous,20 February 2021,1.0 out of 5 stars,NaN
5350,PRINCE INDRAJIT LAW / LAHA.,16 February 2021,5.0 out of 5 stars,NaN
5351,Deepak,22 February 2021,1.0 out of 5 stars,NaN

In [50]:
df3=pd.DataFrame()

In [51]:
df3['Review_title']=review_title

In [52]:
new_data = pd.concat([new,df3], ignore_index=False, axis=1)

In [53]:
new_data

,Customer_name,Reviewed_date,Ratings,Reviews,Review_title
0,Bharath Kumar,7 March 2019,5.0 out of 5 stars,i received defective iphone 7 32GB silver co...,Wow
1,jaywant,29 October 2018,1.0 out of 5 stars,Thanks for Amazon service. phone is very nic...,Pros & Cons
2,jaywant,29 October 2018,1.0 out of 5 stars,"Redmi phones cameras are great, of course iP...",In just three months phone developed Hardware ...
3,Bharath Kumar,7 March 2019,5.0 out of 5 stars,If you are an apple fan !! This is a true be...,Not worth it in 2021
4,Utpal Das,13 November 2018,5.0 out of 5 stars,in 20 days i found my battery health 98% whi...,Not good for the price
...,...,...,...,...,...
5347,Tushar_Amazon,31 March 2021,3.0 out of 5 stars,NaN,NaN
5348,Rijo Thomas,4 April 2021,1.0 out of 5 stars,NaN,NaN
5349,Anonymous,20 February 2021,1.0 out of 5 stars,NaN,NaN
5350,PRINCE INDRAJIT LAW / LAHA.,16 February 2021,5.0 out of 5 stars,NaN,NaN
5351,Deepak,22 February 2021,1.0 out of 5 stars,NaN,NaN

In [57]:
new_data.to_csv(r'E:\reviews.csv',index=True)